.list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-item {
  width: 200px;
}

.item-text-box {
  font-size: 15px;
  width: 265px;
  height: 25px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.x-button,
.ok-button {
  height: 31px;
  width: 35px;
}

.checkbox-input {
  margin-top: 5px;
}

.list-container {
  height: 350px;
}
